In [1]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

load_dotenv()

True

In [2]:
db_user = os.getenv("POSTGRES_USER")
db_password = os.getenv("POSTGRES_PASSWORD")
db_name = os.getenv("POSTGRES_DB")

conn_engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@localhost/{db_name}")

In [3]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv.gz", compression="gzip", chunksize=100000)

In [4]:
df_head = next(df_iter).head()
df_head

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [4]:
chunk_num = 0
for chunk in df_iter:    
    # Convert the columns for pickup and dropoff times to datetime
    chunk["lpep_pickup_datetime"] = pd.to_datetime(chunk["lpep_pickup_datetime"])
    chunk["lpep_dropoff_datetime"] = pd.to_datetime(chunk["lpep_dropoff_datetime"])
    
    # Write table header 
    if chunk_num == 0:
      chunk.to_sql("green_taxi_trips", con=conn_engine, if_exists="replace")
    else:
        # Write chunk to db
        chunk.to_sql("green_taxi_trips", con=conn_engine, if_exists="append")
    
    chunk_num += 1

    print(f"Chunks written to db: {chunk_num}")

Chunks written to db: 1
Chunks written to db: 2
Chunks written to db: 3

/tmp/ipykernel_4780/3231905612.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_iter:

Chunks written to db: 4
Chunks written to db: 5

In [5]:
zone_df = pd.read_csv("taxi_zone_lookup.csv")

(265, 4)

In [22]:
zone_df.to_sql("taxi_zones", con=conn_engine, if_exists="replace")

265